# **Case #006: The Vanishing Diamond**
#### At Miami’s prestigious Fontainebleau Hotel charity gala, the famous “Heart of Atlantis” diamond necklace suddenly disappeared from its display.

## **Objectives**
    1. Find who stole the diamond.

##### First things first, what do we know?
    - item stolen = Heart of Atlantis diamond
    - location = Fontainebleau Hotel

##### **Step 1**: Review the crime scene report

In [ ]:
SELECT *
FROM crime_scene
WHERE location = 'Fontainebleau Hotel';

# dataset output
# id	date	location	description
# 48	19870520	Fontainebleau Hotel	The Heart of Atlantis necklace disappeared. Many guests were questioned but only two of them gave valuable clues. One of them is a really famous actor. The other one is a woman who works as a consultant for a big company and her first name ends with "an".

##### What do we know?
    - necklace = Heart of Atlantis
    - two primary witnesses: 
      - one is a famous actor 
      - the other is a woman who is a consultant for a large company and her first name ends in 'an'

##### Witness #1

In [ ]:
SELECT *
FROM guest
WHERE occupation = 'Actor';

# dataset output
# id	name	occupation	invitation_code
# 43	Ruby Baker	Actor	VIP-R
# 129	Clint Eastwood	Actor	VIP-G
# 164	River Bowers	Actor	VIP-B
# 189	Sage Dillon	Actor	VIP-G
# 192	Phoenix Pitts	Actor	VIP-G

SELECT clue
FROM witness_statements
WHERE guest_id = 129;

# dataset output
# clue
# I overheard someone say, "Meet me at the marina, dock 3.

##### Witness #2

In [ ]:
SELECT *
FROM guest
WHERE name LIKE '%an %';

# dataset output
# id	name	occupation	invitation_code
# 14	Ethan Taylor	Financial Analyst	VIP-B
# 22	Sebastian Lewis	Music Producer	VIP-R
# 40	Julian Wood	Sports Team Owner	VIP-R
# 60	Roman Fisher	Nightclub Owner	VIP-G
# 116	Vivian Nair	Consultant	VIP-R

SELECT clue
FROM witness_statements
WHERE guest_id = 116;

# dataset output
# clue
# I saw someone holding an invitation ending with "-R". He was wearing a navy suit and a white tie.

##### **Checkpoint**: What do we know?
    - location to follow up = Marina Dock 3
    - invitation ending with -R
    - suspect wearing navy suit + white tie

##### Investigating Our Clues for Suspects

In [ ]:
SELECT g.id
  , g.name
  , g.occupation
  , ar.note
  , mr.rental_date
  , mr.boat_name
FROM guest g
JOIN attire_registry ar ON ar.guest_id=g.id
JOIN marina_rentals mr ON mr.renter_guest_id=g.id
WHERE invitation_code LIKE '%-R' AND
  ar.note = 'navy suit, white tie' AND
  mr.dock_number = 3;
  
# dataset output
# id	name	occupation	note	rental_date	boat_name
# 105	Mike Manning	Wealth Reallocation Expert	navy suit, white tie	19870520	Coastal Spirit

SELECT confession
FROM final_interviews
WHERE guest_id = 105;

# dataset output
# confession
# I was the one who took the crystal. I guess I need a lawyer now?

##### **Solution**: Mike Manning